
<div class = "row">
  <% @products.each do |product| %>
  <div class = "col-md-4">
     <a href = "/products/<%= product.id %>"> <h2> <%= product.name %> </h2> </a>
     <img width = "200px" src = "<%= product.image %>"/>
     <h3> $<%= product.price %> </h3>
     <i> <%= product.sale_message %> </i>
   </div>
  <% end %>
</div>
